* {
  font-family: "Helvetica Neue";
}

/*****Navigation bar at top of page*****/
header {
  border: 1px solid;
  width: 100%;
  top: 0px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

nav,
h1 {
  margin: 0.67em;

}

nav {
  margin-top: 1em;
}

.nav-bar{
  padding: 0;
}

.nav-link{
  list-style-type: none;
  display: inline;
  padding: 10px;
  color: black;
}
.nav-link a{
  color: black;
  text-decoration: none;
}

.nav-link a:hover{
  color: pink;
}

.home-button {
  color: black;
  text-decoration: none;
}

.home-button:hover {
  color: pink;
}

/*******Body*******/

body {
  padding-top: 82px;
  margin: 0px;
}
/*****Section******/

.main-section {
   /* HEY MARISOL! Note the change in the line below. "Border" is a one-line attribute that is expecing three values: border-width, border-style, and border-color. If you only want to specify one element instead of all three, use the more specific attribute, like "border-style: solid"*/
  border: 1px solid black;
  width: 80%;
  padding: 10%;
}

div.section-title,
div.section-paragraph {
  min-height: 100px;
}

div.section-title,
div.section-paragraph,
.section-title h2,
.section-paragraph p {
  display: inline-block;
}

div.section-title {
  width: 40%;
  font-size: 3rem;
  text-align: left;
}

div.section-paragraph {
  width: 48%;
  margin-left: 10%;
}

.section-title h2,
.section-paragraph p {
  vertical-align: middle;
  margin: 0;
}



/******Footer******/
.footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  display: block;
}
